

<div class="jumbotron">

<h2>Welcome to Pustkalaya the Library Mangagement System of IIIT Kalyani</h2>

<p class="lead">

Enjoy Reading

</p>

</div>

<div class="row">

<div class="plans clearfix">

<div class="col-lg-3 col-lg-offset-3 plan">

<h2></h2>

<div class="price pull-right">


</div>



</div>

</div>

</div>
